body {
  background: linear-gradient(135deg, rgb(23, 2, 29), #07467d);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flexBod {
  display: flex;
  flex-direction: column;
}
.divv {
  display: flex;
  justify-content: center;
}
.scr {
  display: flex;
  justify-content: center;
  color: aquamarine;
}
.scrItm {
  flex: 2;
  text-align: center;
}
.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blueviolet;
 
}
#title {
  color: beige;
}
#screen {
  color: aquamarine;
}

.moves {
  color:blue;  
}